/*  src/Title.css  */
.Title {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    margin-bottom: 2em;
    border-bottom: 1px solid black;
    background-color: #90A9B7;
}


.Title-Subtitle {
  padding: 0;
}

.Signup-Button {
  display: none;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 460px) {
  .Title {
    top: 0;
    line-height: 1;
  }

  .Title-Container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  header * {
    margin: 0;
    padding: 10px;
  }

  .Title-Navbar {
    display: none;
  }

  .Signup-Button {
    display: block;
  }

  .hamburger {
    display: block;
    background-image: url('../../../public/images/hamburger.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    border: 1px solid black;
  }
}
