.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.nav-link {
    color: black;
    font-weight: bold;
    font-size: large;
    text-decoration: none;
}

.nav-link-active {
    color: black;
    border-bottom: 2px solid;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
}

.nav-link:hover {
    text-shadow: 2px 2px 10px grey;
}

.nav-link-active:hover {
    text-shadow: 2px 2px 10px grey;
}

@media screen and (max-width: 460px) {
    .navBar {
        align-self: flex-end;
        flex-direction: column;
        height: 200px;
        justify-content: space-between;
        align-items: flex-end;
        margin-right: 30px;
        font-size: 34px;
    }

    .nav-link {
        color: black;
        font-size: 34px;
    }
}