.RandomSpace {
    color: black;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
    background: none;
    border: none;
}

@media screen and (max-width: 460px) {
    .RandomSpace {
        color: black;
        font-size: 34px;
        padding-right: 0;
        margin-right: 0;
        padding-top: 5px;
    }
}